@charset "UTF-8";
#main{
	min-width: 1580px;
}
h1 {
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	overflow: hidden;
}

#h2 {
	font-size: 27px;
	color: black;
}

h3 {
	font-size: 20px;
}

#img {
	vertical-align: middle;
}

#main>#div{
	text-align: center;
}

#middlebox {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid gray;
	margin-bottom: 50px;
	margin-top: 20px;
}

#change-pwd {
	margin-top: 10px;
	padding-left: 140px;
}

dt {
	padding-top: 10px;
	font-size: 13px;
}

dd {
	padding-top: 5px;
}

dd input[type="text"] {
	width: 200px;
	height: 20px;
}
#nicknameDiv {
	border-bottom: 1px solid gray;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
