@charset "UTF-8";

body {
	background: #FAFFFF;
}

#admin{
	width: 1100px;
	height:100px;
	margin-left:auto;
	margin-right: auto;
	display: flex;
}
#admin>img{
	width: 100px;
	height:100px;
}
#admin>h1{
	margin-left:30px;
	padding-top:30px;
	font-size: 25px;
	
}

#title {
	width: 1100px;
	height: 80px;
	
}
hr{
	display:block;
}
section>div{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
}

#tableDiv{
	width:1200px;
	margin-top:70px;
	margin-bottom:70px;
	
}
#table{
	
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:1100px;
	border: 2px solid skyblue;
	text-align: center;

}
#table tr{
	height:40px;
}

#table td{
	text-align: center;
}
thead>tr td{
	font-weight: bold;
	font-size: 15px;
}
thead>tr{
	background-color:#C4DEFF; 
}
#back{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
