@charset "UTF-8";

body {
	background: #FAFFFF;
}
#main{
	min-width: 1580px;
	min-height: 600px;
}
h1 {
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	overflow: hidden;
}

#h2 {
	font-size: 27px;
	color: black;
}

h3 {
	font-size: 20px;
}

#img {
	vertical-align: middle;
}

#div{
	text-align: center;
	padding-top: 20px; 
}

#middlebox {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid gray;
	margin-top: 20px;
}

#change-pwd {
	margin-top: 10px;
	padding-left: 140px;
	margin-bottom: 7px;
	}

#new-pwd{
		margin-top: 10px;
	padding-left: 140px;
	margin-bottom: 7px;
}

dt {
	padding-top: 10px;
	font-size: 13px;
}

dd {
	padding-top: 10px;
}

dd input[type="password"] {
	width: 230px;
	height: 20px;
}
#nicknameDiv {
	border-bottom: 1px solid gray;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.now-pwd-check-text{
	padding-left: 210px;
}

.new-pwd-check-text{
	padding-left: 250px;
	padding-bottom: 20px;	
}

#pageSection{
	padding-top: 20px;
	padding-left: 140px;
	padding-bottom: 10px;
}


#pageSection input{
	font-size: 15px;
	width: 110px;
	height: 40px;
}

#pageSection input[type="submit"]{
margin-left: 10px;
}

#pageSection input:hover{
	border: solid #bdd7ee; 
}

#cancel{
	padding-right: 10px;
	}
