@charset "UTF-8";

body {
	background: #FAFFFF;
}

main {
	min-width: 1580px;
}

#page-top {
	height: 100px;
	width: 1110px;
	display: flex;
	position: relative;
	margin-top: 20px;
	margin-left:auto;
	margin-right: auto;
}

#page-top img {
	width: 100px;
	height: 100px;
}

#page-top h1 {
	padding-top:30px;
	margin-left:30px;
	font-size: 25px;

}

#page-middle {
	width:1100px;
	height:80px;
}


#middle-box {
	width: 1100px;
	min-height: 375px;
	margin-right: auto;
	margin-left: auto;
}

#middle-box #select-category {
	width: 100px;
	height: 24px;
	padding-left: 20px;
}



#page-middle form {
	float: right;
	padding-top: 45px;
}

#tableDiv{
	width:1100px;
	margin-top:70px;
	margin-bottom:70px;
}
#tableDiv>table{
	
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:1100px;
	border: 2px solid skyblue;
	text-align: center;

}
#tableDiv>table tr{
	height:40px;
}

#tableDiv>table td{
	text-align: center;
}
thead>tr td{
	font-weight: bold;
	font-size: 15px;
}
thead>tr{
	background-color:#C4DEFF; 
}

.button{
	text-align: right;
}
