@charset "UTF-8";

#footer {
	font: bold Malgun Gothic; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
	background: rgba(152,152,152,1);
}

#footer>div {
	height: 100%;
	
}

#footer_list h2 {
	float: left;
	padding: 10px;
	font-size: 14px;
}

#footer hr {
	color: black;
	border-style: solid;
	border-width: 0.5px;
	overflow: visible;
}