@charset "UTF-8";
/*==============Header===========*/
.d-none {
	display: none;
}

header {
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	width: 1200px;
	height: 200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#header #topHeader {
	width:inherit;
	height: 40px;
	display: flex;
}

#header #categori {
	width: 1200px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
}

#memberMenu {
	left: 0px;
	width: 700px;
	text-align: center;
	height: 40px;
}

#memberMenu>ul {
	display: flex;
	width: inherit;
	height: inherit;
	list-style: none;
	color: black;
}

#memberMenu>ul li {
	list-style: none;
	padding-left: 50px;
}

#searchHeader {
	height: inherit;
	width: 750px;
	display: flex;
	right:0px
}

#searchForm {
	display: inline-block;
	height: 35px;
	width: 325px;
}

.searchWin {
	display: inline-block;
	height: inherit;
	width: inherit;
	border: 3px solid #bbd7ee;
	border-right: 0px;
}

.searchWin input:first-child {
	float: left;
	outline: none;
	width: 263px;
	height: 20px;
	border: 0px;
	border-right: 5px solid #bbd7ee;
	padding: 5px 10px;
}

.searchWin input:last-child {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0px;
	outline: none;
	float: right;
	background: url("../images/search.jpg") no-repeat;
}

#popularity {
	width: 220px;
	display: flex;
	right: 0px;
	height: 100px;
	margin-top: 5px;
	margin-left: 5px;
}

#popularity>h1 {
	width: 150px;
	font-size: 15px;
}

#popularity li {
	list-style: none;
	font-size: 120%;
}

#popularity>div {
	width: inherit;
	height: inherit;
}

#ranking:hover ul {
	display: block;
}
#ranking ul{
	display: none;
}

#hiddenVisual{
	height:60px;
}

#visual{
	width:1200px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
#visual>div {
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
}

#visual>div>span {
	width: 70px;
	vertical-align: middle;
}

#visual img {
	width: 58px;
	height: 58px;
	vertical-align: middle;
}

#title {
	font-size: 40px;
	font: bold Malgun Gothic;
}

#categori {
	display: block;
	width: 1200px;
	height: 70px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}

#categori ul {
	width: inherit;
	height:inherit;
	display: flex;
	font-size: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#categori div {
	width: 1150px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#categori li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
}

#categori ul ul {
	display: none;
}

#categori ul li {
	padding-top: 10px;
	padding-left: 20px;
	z-index: 1000;
}

#categori ul li>a {
	width: 100px;
	height: inherit;
	display: inline-block;
}

#categori ul li ul li {
	padding-left: 0px;
}

#categori ul li ul li a {
	font-size: 15px;
	color: black;
}

#categori a {
	height: 32px;
	--font-family: arial;
	font-size: 25px;
	padding: 0 10px 0 10px;
	text-decoration: none;
	text-align: center;
}

#categori a:hover{
	color: #7496c3;
}

#categori ul li:hover ul {
	display: block;
	background: linear-gradient(to bottom, #faffff, #caf1f19c);
}

#categori ul li ul li:hover{
	background: linear-gradient(to bottom, #faffffd1, #88ddf3c7);
}

hr {
	width: 1600px;
	display: block;
	border: 1px solid black;
}

#view>a {
	font-size: 15px;
}

#hr {
	
	width: 1588px;
	display: block;
	margin-top: 10px;
	border: 1px solid rgb(240,240,240);
}

.hrLeft{
	margin-left:-200px;
}

#hr2 {
	margin-left: -200px;
	width: 1800px;
	display: block;
	margin-top: 10px;
	border: 1px solid rgb(240,240,240);
}
