@charset "UTF-8";

#header {
	width: inherit;
	height: 70px;
}

#main {
	width: inherit;
	min-height: 300px;
}

#footer {
	width: inherit;
	height: 100px;
	position: static;
}

#aside {
	height: 50px;
}
