@charset "UTF-8";

#main {
	font: bold Malgun Gothic; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
}

#main>div {
	width: 1200px;
	min-height: inherit;
	margin-left: auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
	text-align: center;
	text-align: center;
}

#main>div #menulist {
	width: 1200px;
	min-height: inherit;
	text-align: center;
	margin-left: auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
}

#menulist>div {
	width: 1100px;
	min-height: inherit;
	margin-left: auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
}

#menulist>div>div {
	width: 1000px;
	min-width: inherit; /* 메뉴한줄 크기 */
	margin-left: auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
	min-height: inherit;
}

#menulist>div>div ul {
	width: 900;
	min-height: inherit;
	display : flex;
	flex-direction: row;
	margin-left : auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
}


#menulist img {
	width: 150px;
	height: 150px;
}

#menulist li {
	list-style: none;
	margin-left: auto; /* auto: 값픽셀 없이 그냥 밀어버림*/
	margin-right: auto;
}

#socategori {
	padding: 5px;
	font-size: 25px;
}

#main-logo {
	vertical-align: middle;
}

#sadari {
	float: right;
	position: fixed;
	bottom: 50px;
	right: 50px;
}

/* 즐겨찾기버튼 */
/* #star {
	background-image: url(./../images/bookmark.png); 16px x 16px
	background-color: transparent; make the button transparent
	background-repeat: no-repeat;
	make the background image appear only once
	background-position: 0px 0px; equivalent to 'top left'
	border: none; assuming we don't want any borders
	cursor: pointer;
	make the cursor like hovering over an <a> element
	weight: 50px; 
	height: 50px; make this the size of your image
	vertical-align: middle; align the text vertically centered
} */
