@charset "UTF-8";

body {
	background: #FAFFFF;
}

#sadari {
	float: right;
	position: fixed;
	bottom: 50px;
	right: 50px;
}

h1 {
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	overflow: hidden;
}

main>#img {
	text-align: center;
	margin-top: 30px;
}

main>div:nth-child(2) {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
	border: 2px solid gray;
	margin-bottom: 20px;
}

section div {
	border-bottom: 2px solid gray;
	text-align: center;
}

section dt, dd {
	display: inline-block;
	margin-top: 20px;
}

section dl, dt, dd {
	font-size: 14px;
	margin-left: 30px;
}

.nickname {
	position: relative;
	height: 50px;
}

.nickname span {
	position: absolute;
	display: inline-block;
	font-size: 22px;
	top: 7px;
	left: 194px;
}

.nickname img {
	position: relative;
	left: -31px;
	width: 30px;
	height: 30px;
	top: 9px;
}

main {
	min-width: 1600px;
	min-height: 539px;
}

input[type="submit"]:hover{
	border: solid #bdd7ee;
}
