@charset "UTF-8";

body {
	background: #FAFFFF;
}

main {
	min-width: 1580px;
	height: 470px;
}

#middlebox {
	width: 400px;
	min-height: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
	margin-bottom: 30px;
	margin-top: 30px;
}

section #content div {
	margin-top: 30px;
	font-size: 18px;
	margin-left: 110px;
}

section>.profile {
	position: relative;
	height: 60px;
	border-bottom: 2px solid gray;
}

section>.profile div {
	position: absolute;
	left: 174px;
	top: 11px;
	font-size: 22px;
}

section>.profile img {
	position: absolute;
	left: 114px;
	top: 3px;
}
