@charset "UTF-8";

body {
	background: #FAFFFF;
}

main {
	min-width: 1600px;
	min-height: 700px;
}

main nav {
	min-height: 100%;
}

main>#sori-title {
	text-align: center;
}

main>.topvisual {
	text-align: right;
	margin-right: 50px;
	margin-bottom: 40px;
}

main>nav .topvisual {
	text-align: right;
	margin-right: 350px;
	margin-top: 40px;
}

#middlebox {
	overflow: auto;
	width: 1000px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#ppp {
	position: relative;
	min-height: 100%;
	margin-bottom: 50px;
}

div #content_main {
	float: left;
	padding-top: 0px;
}

nav #order {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	margin-top: 50px;
	margin-right: 345px;
}

nav #order  a {
	margin-right: 5px;
	margin-left: 5px;
}

#middlebox #content_main {
	margin-top: 20px;
	padding: 22px;
}

#middlebox #content_main span {
	margin-top: 10px;
	display: inline-block;
	padding-left: 20px;
}

#review-title {
	padding: 19px;
	border-bottom: 1px solid #979797;
	width: 900px;
}

#review-title>#span {
	font-size: 25px;
	font-weight: bold;
}

#review-title>#span+span{
	font-size: 15px;
	font-weight: bold;
	float: right;
}

#review-content {
	padding-left: 80px;
}

main #search {
	display: inline-block;
	float: right;
	margin-right: 350px;
	margin-top:10px;
	border: 3px solid #bbd7ee;
	position: relative;
}

main #search input[type="text"] {
	padding: 3px;
	width: 200px;
	border: 1px solid #bbd7ee;
	outline: none;
}

main #search input[type="button"] {
	width: 25px;
	height: 23px;
	position: absolute;
	right: 0;
	outline: none;
	border: 0px;
}

#sori-title {
	border-bottom: 1px solid black;
	margin-bottom: 2px;
}

#order a:hover {
	color: #6262ff;
}

.aaa {
	content: "";
	clear: both;
	display: block;
} 

#content_main::after {
	content: "";
	clear: both;
	display: table;
}

#more-more{
	width: 48px;
	height: 20px;
	border: 3px solid lightgray;
	padding-right: 0px;
	float: right;
	text-align: center;
	margin-right: 40px;
}

#more-more:hover {
		border: 3px solid #bdd7ee;
}
