@charset "UTF-8";

#sadari-main {
	width: 900px;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
	background: #454545;
	text-align: center;
}

#sadari-main>h1 {
	display: inline-block;
	font-size: 10mm;
	margin-top: 20px;
}

#bookmark {
	width: 630px;
	margin-top: 25px;
	margin-left: 135px;
	height: 30mm;
	background: pink;
}

#sadari-game {
	width: 720px;
	margin-top: 25px;
	margin-left: 90px;
	height: 150mm;
	background: violet;
}
